<p>
  The <a href="{{site.arc_website}}">Centre for Advanced Research Computing (ARC)</a>
  is UCL's research, innovation and service centre for the tools, practices and systems
  that enable computational science and digital scholarship.
  
  We are an innovative centre with both professional services and academic missions:
  <ul>
    <li>We provide advanced, reliable and secure digital research infrastructure to
      research groups in UCL and beyond.</li>
    <li>We are a laboratory for research, teaching and innovation in compute, data
      and software intensive research methods.</li>
  </ul>

  You can read more about what our <a href="{{site.arc_education_website}}" target="_blank">
    Education team offers here</a>.
</p>
