<div id="setup-myriad">
    <h3>Registering for an Account on Myriad</h3>
    <p>
        <a href="{{site.myriad_docs_descr}}" target="_blank">Myriad</a> is one of UCL's High Performance
        Computer (HPC) clusters, and is designed for high I/O, high throughput jobs that will run within
        a single node, rather than multi-node parallel jobs.

        In this workshop, we will be working on Myriad and exploring how to interact with the filesystem,
        submit jobs to the scheduler, and effectively request resources for your jobs.
        But to use Myriad, you will need an account.
    </p>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-has-acccount="no" href="#myriad-no-account" aria-controls="No Account"
                    role="tab" data-toggle="tab">I do not have a Myriad account</a></li>
            <li role="presentation"><a data-has-account="yes" href="#myriad-has-account" aria-controls="Has Account" role="tab"
                    data-toggle="tab">I already have a Myriad account</a></li>
        </ul>

        <div class="tab-content">
            <article role="tabpanel" class="tab-pane active" id="myriad-no-account">
                <p>
                    You can apply for an account on Myriad by <a href="{{site.myriad_apply_form}}" target="_blank">completing the application form.</a>
                    <ul>
                        <li>You will need to use your UCL user ID when you register.</li>
                        <li>Under the "Project Name" and "Work Description" fields, state that you are requesting an account for this course.</li>
                    </ul>
                </p>
                <p>
                    You should sign up for an account no later than 2 days before the workshop.
                    Otherwise, there will not be time to activate your account before the workshop starts.
                </p>
            </article>
            <article role="tabpanel" class="tab-pane" id="myriad-has-account">
                <p>
                    If you already have a Myriad account, you can use that for this course.
                    You do not need to do anything further, but you will need your login details to hand during the workshop.
                </p>
            </article>
        </div>
    </div>
</div>