<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers who would like to use UCL's HPC clusters to run high-throughput analysis pipelines.
  <strong>
  You will need to be comfortable using the UNIX command line to interact with a machine, before you start this course.
  </strong>
  The <a href="https://swcarpentry.github.io/shell-novice/" target="_blank">Introduction to the UNIX shell</a> Carpentries lesson is a suitable pre-requisite, and ARC typically run an instance of this course every term.
</p>
